body {
    /*font-family: 'Urbanist', sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Quattrocento', serif;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: 'Yeseva One', cursive;*/
    font-family: 'Oswald', sans-serif;

}

#new-nav a:hover {
    color: #0dcaf0 !important;
}

#head-logo h1 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Great Vibes', cursive !important;
    font-size: 4.4em;
    text-align: center;
    width: 100%;
    text-shadow: 2px 2px 6px black;
}

#sidebar {
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    z-index: 4;
    margin-left: 10px;
    margin-right: 10px;
}

#sidebar-nav a {
    color: #333;
}

#sidebar-nav li {
    transition: all 0.2s ease;
}

#sidebar-nav li:hover {
    color: black;
    background: #0dcaf0;
    border-radius: 15px;
    padding: 5px 10px;
}

.sidebar-show {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 220px;
    transform: translateX(-220px);
}

.side-item {
    opacity: 0;
}

/*.main-shift {*/
/*    margin-left: 220px !important;*/
/*}*/

#main {
    background: black;
    color: white;
    height: 100vh;
    background: url("/images/blc-main-2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

#main-calendar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.7);
}

.col-with-border {
    border-right: 1px solid gray;
}

.remove-link-styling {
    color: inherit;
    text-decoration: none;
}

.remove-link-styling div {
    padding: 15px;
    border-radius: 15px;
    transition: background 2s ease;
}

.remove-link-styling div:hover {
    color: white;
    background: #eff2fb;
}

.animate-recital,
.animate-recital-2,
.animate-recital-text-2,
.animate-recital-text {
    /*transform: translateX(100px);*/
    opacity: 0;
    transition: 1s opacity ease;
}

.recital-go,
.recital-text-go {
    /*transform: translate(0px) !important;*/
    opacity: 1 !important;
}

.main-scroll-up {
    transform: translateY(200px);
}

/*#footer {*/
/*    background: black;*/
/*    color: white;*/
/*}*/

.fb-logo {
    font-size: 1.75em;
    color: #0dcaf0;
}

.fb-logo:hover {
    color: #01849C;
}

.staff-block {
    background: white;
    padding: 20px;
}

.btn-info {
    background: #0dcaf0 !important;
}
.btn-info:hover {
    background: #01849C !important;
}

#hamburger {
    position: fixed;
    font-size: 2.5em;
    color: rgba(255,255,255,0.7);
    top: 0;
    left: 10px;
    background: rgba(0,0,0,0.9);
    z-index: 5;
    border-radius: 0 0 5px 5px;
    line-height: 1;
}
